@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
#root {
    overflow-x: hidden;
}

html {
    background: #21272c;
    color: white;
}
