@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
#root {
    overflow-x: hidden;
}

html {
    background: #21272c;
    background-image: linear-gradient(90deg, rgb(33, 39, 44) 0%, rgb(44, 58, 70) 50%, rgb(33, 39, 44) 100%);
    color: white;
}
